*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #2d2d2d;
}

button{
    color: #ababab;
    background-color: #1d1d1d;
    border-radius: 5px;
    border: 0px;
    padding: 5px 10px;
    margin: 5px;
    font-size: larger;
    transition-duration: 0.25s;
    cursor: pointer;
}

input{
    color: #ababab;
    background-color: #1d1d1d;
    border-radius: 5px;
    border: 0.5px solid #ababab;
    padding: 5px 10px;
    margin: 2px 0px;
}

input{
    width: 45px;
}

button:hover{
    color: #ffffff;
    background-color: #aaaaaa75;
}

h2{
    color: #ababab;
}

span, p, .lsub{
    color: #ababab;
    font-size: medium;
}

span {
    margin-left: 10px;
}

label{
    color: #ababab;
    font-size: large;
}

.menu{
    display: flex;
    margin: 5px;
    border-radius: 5px;
    place-content: center;
}

.area{
    display: flex;
    place-content: center;
}

.board{
    background-color: #767676;
    color: #000000;
    padding: 5px;
    border: 5px solid #ababab;
    border-radius: 5px;
}


.block{
    display: inline;
    margin: 1px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    font-family: Arial;
    width: 45px;
    height: 45px;
    cursor: pointer;
    transition-duration: 0.2s;
    user-select: none; 
}

.row{
    margin-top: 1px;
    margin-bottom: 1px;
    display: flex;
}

.hide{
    background-color: #ababab;
}

.hide:hover{
    background-color: #dddddd;
}

.number{
    background-color: #767676;
}

.mine{
    background-color: #900000;
    color: #ffffff;
    border-radius: 5px;
}

.popup{
    border: 1px solid #bbbbbb;
    background-color: #2d2d2d;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 0.25s;
    border-radius: 5px;
    padding: 20px;
    z-index: 2;
}

.popup1{
    border: 1px solid #bbbbbb;
    background-color: #2d2d2d;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 0.25s;
    border-radius: 5px;
    padding: 20px;
    z-index: 2;
}

.overlay{
    background-color: #000000bb;
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.option{
    background: #1d1d1d;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 10px;
    transition-duration: 0.5s;
    cursor: pointer;
}

.option1:hover{
    background: linear-gradient(to bottom right, #2d6060, #377742);
}

.option2:hover{
    background: linear-gradient(to bottom right, #377742, #66672e);
}

.option3:hover{
    background: linear-gradient(to bottom right, #66672e, #77592e);
}

.option4:hover{
    background: linear-gradient(to bottom right, #323232, #000000);
}